body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Times New Roman";
  font-size: xx-large;
}

.table-row {
  width: 10em;
  text-align: center;
  background-color: #ffffff;
  padding: 0.05em;
  margin-left: auto;
  margin-right: auto;
}

.table-cel {
  background-color: #006600;
  display: inline-block;
  padding: 0.1em;
  width: 3.2em;
}

.table-cel-top {
  background-color: #006600;
  display: inline-block;
  padding: 0.1em;
  width: 4.77em;
}

.green {
  background-color: #006600;
}

.black {
  background-color: #000000;
}

.red {
  background-color: #b80000;
}

.white-bg {
  background-color: #ffffff;
}

.numbers {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.oval {
  color: #ffffff;
  width: 90%;
  height: 90%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: auto;
}

.hover1 {
  background-color: #0000ff;
}

.hover2 {
  background-color: #0066cc;
}

.hover3 {
  background-color: #99ccff;
}

.mar-left-1 {
  margin-left: 0.1em;
}

.mar-right-1 {
  margin-right: 0.1em;
}
