<p class="desc">If you have ever noticed looked closely at the American roulette wheel you might have noticed that the numbers on the table are not in the same order as the numbers as they are ordered on the wheel. See the images below.</p>
<img src="../images/wheel.png">
<img src="../images/table.png">
<p class="desc">This makes it difficult if you have a favorite number and would also like to bet on that number's neighbors.  So that's what this app is meant to help with.  If you click on a number the two nearest numbers on either side will be highlighted.  The number clicked will be in a darker blue, the closest neighbors in a slightly lighter blue, and the farther neighbors in an even lighter blue.</p>
<p class="desc">I created this AngularJS app using Yeoman and the Angular Generator.  The source code is available on my GitHub account</p>
<div ng-controller="mainController">
  <div class="row"><number value="0"></number><number value="00"></number></div>
  <div class="row"><number value="1"></number><number value="2"></number><number value="3"></number></div>
  <div class="row"><number value="4"></number><number value="5"></number><number value="6"></number></div>
  <div class="row"><number value="7"></number><number value="8"></number><number value="9"></number></div>
  <div class="row"><number value="10"></number><number value="11"></number><number value="12"></number></div>
  <div class="row"><number value="13"></number><number value="14"></number><number value="15"></number></div>
  <div class="row"><number value="16"></number><number value="17"></number><number value="18"></number></div>
  <div class="row"><number value="19"></number><number value="20"></number><number value="21"></number></div>
  <div class="row"><number value="22"></number><number value="23"></number><number value="24"></number></div>
  <div class="row"><number value="25"></number><number value="26"></number><number value="27"></number></div>
  <div class="row"><number value="28"></number><number value="29"></number><number value="30"></number></div>
  <div class="row"><number value="31"></number><number value="32"></number><number value="33"></number></div>
  <div class="row"><number value="34"></number><number value="35"></number><number value="36"></number></div>
</div>

