<div ng-controller="mainController">
  <div class="table-row">
    <div class="table-cel-top border-right">
      <number value="0"></number>
    </div>
    <div class="table-cel-top">
      <number value="00"></number>
    </div>
  </div>
  <div class="table-row" ng-class="{'border-bottom': $last}" ng-repeat="row in tableRows">
    <div class="table-cel" ng-class="{'border-right': !$first && !$last, 'border-left': !$first && !$last}" ng-repeat="col in tableCols">
      <number value="{{numberForRowCol(row, col)}}"></number>
    </div>
  </div>
</div>
