<div ng-controller="mainController">
  <div class="table-row">
    <div class="table-cel-top">
      <number value="0"></number>
    </div>
    <div class="table-cel-top">
      <number value="00"></number>
    </div>
  </div>
  <div class="table-row" ng-repeat="row in tableRows">
    <div class="table-cel" ng-class="{'mar-right-1': !$first && !$last, 'mar-left-1': !$first && !$last}" ng-repeat="col in tableCols">
      <number value="{{numberForRowCol(row, col)}}"></number>
    </div>
  </div>
</div>
